# Coleções

**Tuplas**

In [ ]:
tupla = ('Homo sapiens', 'Canis familiaris', 'Felis catus')

In [ ]:
tupla[0]

In [ ]:
tupla.index('Canis familiaris')

In [ ]:
for elemento in tupla:
  print(elemento)

**Listas**

In [ ]:
l1 = ['Homo sapiens', 'Canis familiaris', 'Felis catus']
l2 = ['Xenopus laevis', 'Ailuropoda melanoleuca']

In [ ]:
l3 = l1 + l2
print(l3)

In [ ]:
l2_2 = l2 * 2
print(l2_2)

In [ ]:
#adicionar item
l1.append('Gorila gorila')
print(l1)

In [ ]:
#remover item
l1.remove('Felis catus')
print(l1)

In [ ]:
#deletar lista
del(l1)

**Dicionários**

In [2]:
coleta = {'Aedes aegypt': 32, 'Aedes albopictus': 22, 'Anopheles darlingi': 14}

In [3]:
#adicionar iem
coleta['Rhodnius montenegrensis'] = 11

In [4]:
#remover item
del(coleta)['Aedes albopictus']
print(coleta)

{'Aedes aegypt': 32, 'Anopheles darlingi': 14, 'Rhodnius montenegrensis': 11}

In [ ]:
#formas de visualizar o dicionario
coleta.items()
coleta.keys()
coleta.values()

In [5]:
#atualizar o dicionario
coleta2 = {'Anopheles gambiae': 13, 'Anopheles deaneorum': 14}
coleta.update(coleta2)
print(coleta)

{'Aedes aegypt': 32, 'Anopheles darlingi': 14, 'Rhodnius montenegrensis': 11, 'Anopheles gambiae': 13, 'Anopheles deaneorum': 14}

In [6]:
for especie, num_especimes in coleta.items():
  print(f'Espécie: {especie}, número de espécimes coletados: {num_especimes}')

Espécie: Aedes aegypt, número de espécimes coletados: 32
Espécie: Anopheles darlingi, número de espécimes coletados: 14
Espécie: Rhodnius montenegrensis, número de espécimes coletados: 11
Espécie: Anopheles gambiae, número de espécimes coletados: 13
Espécie: Anopheles deaneorum, número de espécimes coletados: 14

**Conjuntos (set)**

In [7]:
biomeleculas = ('proteína', 'ácidos nucleicos', 'carboidrato', 'ácidos nucleicos')
print(biomeleculas)

('proteína', 'ácidos nucleicos', 'carboidrato', 'ácidos nucleicos')

In [8]:
#itens unicos
print(set(biomeleculas))

{'proteína', 'carboidrato', 'ácidos nucleicos'}

In [9]:
#intersecção conjunto
c1 = {1,2,3,4,5}
c2 = {3,4,5,6,7}
c3 = c1.intersection(c2)
print(c3)

{3, 4, 5}

In [10]:
#valores em c1 que nao estão em c2
c1.difference(c2)

{1, 2}

In [ ]:
## Matrizes

In [12]:
import numpy as np

In [13]:
matriz = np.array([[2, 3, 1],
                   [4, 5, 7]])

In [14]:
#total de linhas e colunas
matriz.shape

(2, 3)

In [ ]:
#acessar a primeira linha
matriz[0]

In [ ]:
#acessar a segunda linha e terceira coluna
matriz[1][2]

In [ ]:
for i in range(matriz.shape[0]):
  print(matriz[i])

## Exercícios

1. **Lista**: Crie uma estrutura de repetição para fazer a leitura de 5 números inteiros e os armazene dentro de uma lista. Após a leitura, crie outra estrutura de repetição para somar todos os valores digitados

In [33]:
lista = []
for i in range(1,6):
  valor = int(input(f'Digite o {i}º número inteiro: '))
  lista.append(valor)

soma = 0
for i in range(len(l1)):
  soma += lista[i]
print(f'A soma dos valores da lista {lista} é igual a: {soma}')

Digite o 1º número inteiro: 1
Digite o 2º número inteiro: 2
Digite o 3º número inteiro: 3
Digite o 4º número inteiro: 4
Digite o 5º número inteiro: 5
A soma dos valores da lista [1, 2, 3, 4, 5] é igual a: 15

In [34]:
import numpy as np
np.array(lista).sum()

15

2. **Dicionário**: Crie um dicionário para armazenar o nome e a nota de 3 alunos, fazendo a leitura dos valores por meio de uma estrutura de repetição. Depois, crie uma nova estrutura de repetição para somar todas as notas e retornar a média

In [31]:
dicionario = {}
for i in range(1,4):
  nome = input(f'Digite o nome do {i}º aluno: ')
  nota = float(input(f'Digite a nota do {i}º aluno: '))
  dicionario[nome] = nota

print(dicionario)

soma = 0
for i in dicionario.values():
  soma += i
print(f'A média das notas dos alunos é igual a: {round(soma/len(dicionario),2)}')

Digite o nome do 1º aluno: a
Digite a nota do 1º aluno: 2
Digite o nome do 2º aluno: b
Digite a nota do 2º aluno: 3
Digite o nome do 3º aluno: e
Digite a nota do 3º aluno: 5
{'a': 2.0, 'b': 3.0, 'e': 5.0}
A média das notas dos alunos é igual a: 3.33

In [36]:
# outra possibilidade
alunos = {}
for _ in range(1, 4):
  nome = input('Digite o nome: ')
  nota = float(input('Digite a nota: '))
  alunos[nome] = nota

soma = 0
for nota in alunos.values():
  #print(nota)
  soma += nota
print('Média: ', soma / 3)

Digite o nome: a
Digite a nota: 2
Digite o nome: b
Digite a nota: 3
Digite o nome: e
Digite a nota: 5
Média:  3.3333333333333335

3. **Matriz**: Dada a matriz abaixo, construa uma estrutura de repetição para percorrer e somar todos os elementos da matriz

In [32]:
matriz = np.array([[3, 4, 1],
                   [3, 1, 5]])

soma = 0
for i in range(matriz.shape[0]):
  for j in range(matriz.shape[1]):
    soma += matriz[i][j]
print(f'A soma dos valores da matriz é igual a: {soma}')

A soma dos valores da matriz é igual a: 17