In [11]:
#Criando a classe triângulo
class Triangulo:
  def __init__(self, lado1, lado2, lado3, base, altura):
    self.lado1 = lado1
    self.lado2 = lado2
    self.lado3 = lado3
    self.base = base
    self.altura = altura

  def area(self):
    return (self.base * self.altura) / 2

  def tipo(self):
    if self.lado1 == self.lado2 or self.lado2 == self.lado3 or self.lado1 == self.lado3:
      return "Isósceles"
    else:
      return "Outro tipo de triângulo"

In [14]:
# Criando o objeto t1 da classe Triangulo
t1 = Triangulo(3, 4, 5, 10, 2)
print(t1.lado1)

3

In [8]:
# verificando a área
t1.area()

10.0

In [58]:
#verificando o tipo
t1.tipo()

'Outro tipo de triângulo'

## Exercícios

Crie uma classe chamada aluno com os seguintes atributos:

- Nome
- Nota 1
- Nota 2
- Crie um construtor para a classe (__init__)

Crie as seguintes funções (métodos):

- Calcula média, retornando a média aritmética entre as notas
- Mostra dados, que somente imprime o valor de todos os atributos
- Resultado, que verifica se o aluno está aprovado ou reprovado (se a média for maior ou igual a 6.0, o aluno está aprovado)

Crie dois objetos (aluno1 e aluno2) e teste as funções

In [53]:
class Alunos:
  def __init__(self, nome, nota1, nota2):
    self.nome = nome
    self.nota1 = nota1
    self.nota2 = nota2

  def media(self):
    return (self.nota1 + self.nota2) / 2

  def mostra(self):
    print(f' Nome = {self.nome} \n Nota 1 = {self.nota1} \n Nota 2 = {self.nota2}')

  def resultado(self):
    if self.media() >= 6:
      print(f'O(a) aluno(a) {self.nome} foi aprovado com média {self.media()}')
    else:
      print(f'O(a) aluno(a) {self.nome} foi reprovado com média {self.media()}')

In [59]:
aluno1 = Alunos("João", 10, 9)
print (aluno1.nome)

João

In [45]:
aluno1.media()

9.5

In [46]:
aluno1.mostra()

 Nome = João
 Nota 1 = 10
 Nota 2 = 9

In [60]:
aluno1.resultado()

O(a) aluno(a) João foi aprovado com média 9.5

In [54]:
aluno2 = Alunos("Maria", 4, 6)

In [55]:
aluno2.media()

5.0

In [56]:
aluno2.mostra()

 Nome = Maria
 Nota 1 = 4
 Nota 2 = 6

In [57]:
aluno2.resultado()

O(a) aluno(a) Maria foi reprovado com média 5.0